{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Ending the experiment
{% endblock %}

{% block content %}

<head>
    <style>
    a {
  font-size: large;
  text-align: center;
  }

    </style>
</head>
<body>

Thank you for participating in our experiment! <br> <br>

{% if participant.vars.expiry_group == False and participant.vars.group_formed == True %}
<p align=center><b>
	Your earnings after Stage 2: {{ participant.vars.earnings2 }} tokens
	<br>
	Your additional earning from the first opportunity: {{ participant.vars.bonus1 }} tokens
	<br>
	Your additional earning from the second opportunity: {{ participant.vars.bonus2 }} tokens
	<br>
	Your additional earning from the third opportunity: {{ player.bonus3 }} tokens
	<br>
	Your total earnings in tokens: {{ participant.vars.total_earnings }} tokens.
	<br>
	Your total bonus earnings in Dollars: ${{ player.final_earnings }}
	<br>
</b></p>

<br>
You will receive the above amount plus the fixed payment posted on Prolific in about 48 hours after the entire experiment is completed. 
<br> <br>
To end the experiment, please click the completion link below that will take you back to Prolific: <br> <br>
<a href="{{completion_link}}"> {{completion_link}} </a>

{% elif participant.vars.group_formed == False %}
We are sorry but it was not possible to form a group in a reasonable amount of
time. You will be paid the participation fee for the experiment trough
Prolific.
<br> <br>
To end the experiment, please click the completion link below that will take you back to Prolific: <br> <br>
<a href="{{completion_link}}"> {{completion_link}} </a>

{% elif participant.vars.expiry == True %}
We are sorry, but you missed the timeout for making your decision in at least one Stage of the experiment. Therefore, you cannot be paid for this experiment. We kindly ask that you return your submission to Prolific.
<br> <br>
{% elif participant.vars.expiry_passive == True %}
We are sorry, but your co-participant missed the timeout for making his/her decision in at least one Stage of the experiment. Therefore, you will be paid the fixed amount posted in Prolific plus a bonus for your time.
<br> <br>
To end the experiment, please click the completion link below that will take you back to Prolific: <br> <br>
<a href="{{completion_link}}"> {{completion_link}} </a>
{% endif %}

</body>

{% endblock %}


