
{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Informed Consent
{% endblock %}

{% block content %}

<b>Characteristics of the study:</b> You are about to participate in a
decision-making experiment. <u>No deception is involved.</u> All your decisions
will remain confidential and your choices will not be identified. Your
participation in this experiment is voluntary and you can stop participating at
any time. 
<br> <br> 
<b>Earnings:</b> You will receive the fee posted in Prolific for completing the
experiment. In addition, you <u>will</u> earn several bonuses during the experiment.
<b>Please note that there are timeouts during the experiment: if you do not
	comply with the timeouts or withdraw before the end of the experiment,
	you will not receive any payment. </b> 
<br> <br>
<b>Length of the experiment:</b> Approximately 12 minutes.
Please make sure that you have a stable internet connection and that you will
not be distracted while the experiment is in progress. If you do not complete
the experiment, you will not be paid.  
<br> <br> 
You must be at least 18 years of age to participate in this study.  Questions
regarding the protection of human subjects may be addressed to the IRB
Administrator, Research and Sponsored Programs, Appalachian State University,
Boone, NC 28608, United States, irb@appstate.edu 
<br> <br> 
By clicking Continue, you agree that you have had the chance to review this
information, and agree to participate in this research. <br> <br>

<button class="btn btn-primary">Continue</button>

{% endblock %}
