<b>General Instructions:</b>

<ul>
	<li>You will be matched with one other randomly selected participant,
		who will remain anonymous.</li>
	<li>You will interact with this person, and make decisions, in
		<b>TWO</b> stages. </li>
	<li>At the beginning of each stage, you and your matched co-participant
		will each receive an endowment of <b>tokens</b>.</li>
	<li>In each stage, you will compete with your co-participant for a
		<b>prize</b>, also denominated in tokens.</li>
	<li>Your earnings after Stage 2 of the experiment will be calculated in
		tokens, and will be converted to cash at the rate of:
			<div class="card text-white bg-info mb-3"
				style="max-width: 10rem;"> <div
					class="card-body"> <p
					class="card-text">{{ Constants.exchange_rate }} tokens = US$1</p>
			</div> </div>
	</li>

</ul>
