
<div class="card border-success mb-3">
  <div class="card-body">
    <p class="card-text">
	    <b>If you win the prize:</b> you will earn the tokens you kept for
	    yourself, and the prize.
	    <br>
	    <br>
	    Your earnings = Your earnings from stage 1 – Number of tokens used
	    to purchase lottery tickets + Prize 
    </p>
  </div>
</div>
<div class="card border-danger mb-3">
  <div class="card-body">
    <p class="card-text">
	    <b>If you lose the prize:</b> you will only earn the tokens you kept for
	    yourself.
	    <br>
	    <br>
	    Your earnings = Your earnings from stage 1 – Number of tokens used
	    to purchase lottery tickets
    </p>
  </div>
</div>
At the end of Stage 2, you will be informed of the outcome of Stage 2. Your earnings from Stage 2 will be converted to cash at a rate of {{ Constants.exchange_rate }} tokens = $1.
<br>
<br>
