
{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Decision in Stage 2
{% endblock %}

{% block content %}

{% include "instructions/instructions5_within.html" %}
<div class="card text-dark border-warning mb-3">
        <div class="card-body">
                <p class="card-text">
                        You will have <b>45 seconds</b> to enter your decision.
                        A timer will help you keep track of the time. If you do
                        not submit your decision in this time, the experiment
                        will end for you.
                </p>
                <p class="card-text">
                        IF YOU DO NOT SUBMIT <u>ANY</u> DECISION IN TIME, THE
                        EXPERIMENT WILL END FOR YOU AND YOU WILL NOT BE PAID.
                </p>
        </div>
</div>

{% next_button %}

{% endblock %}
