<div class="card border-success mb-3">
        <div class="card-body">
                <p class="card-text">
                        <b>If you win the prize:</b> you will earn the tokens
                        you did not use to buy lottery tickets, and the prize
                        won from buying lottery tickets.
                        <br />
                        <br />
                        Your earnings from Stage 2 = Your endowment – Number of
                        tokens used to purchase lottery tickets + Prize
                </p>
        </div>
</div>
<div class="card border-danger mb-3">
        <div class="card-body">
                <p class="card-text">
                        <b>If you do not win the prize:</b> you will only earn
                        the tokens you did not use to buy lottery tickets.
                        <br />
                        <br />
                        Your earnings from Stage 2 = Your endowment – Number of
                        tokens used to purchase lottery tickets
                </p>
        </div>
</div>
<br />
<br />
<div class="card border-info mb-3">
        <div class="card-body">
                <p class="card-text">
                        <b>Your final earnings</b> = Your earnings from Stage 1
                        + Your earnings from Stage 2
                </p>
        </div>
</div>

Your final earnings will be converted to cash at a rate of 
{{ Constants.exchange_rate }} tokens = $1.
<br />
<br />
