
{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Introduction to the experiment
{% endblock %}

{% block content %}

{% formfields %}

Please read the instructions carefully. After the last screen of instructions, you will have to answer a few questions before being able to engage in the decision stages.
The instructions are <b>identical</b> for all participants with whom you will interact.
<br>
<br>
{% include "instructions/instructions1_within.html" %}

{% next_button %}
{% endblock %}
