<ul>
	<li>The prize in each stage is worth <b>100 tokens</b>.</li>	
	<li>The exact chance of winning the prize in each stage is given by the
		number of lottery tickets bought by you, divided by the total
		number of lottery tickets bought by both you and your
		co-participant. </li>
	<li>More precisely, if you buy <i>X</i> lottery tickets and your
		co-participant buys <i>Y</i> lottery tickets, then your chance of
		winning the prize is <i>X/(X+Y)</i>, and your co-participant’s chance of
		winning is <i>Y/(X+Y)</i>.</li>
	<li>For any number of lottery tickets purchased by your co-participant,
		the more lottery tickets you buy, the higher your chance of
		winning the lottery; the fewer lottery tickets you buy, the
		lower your chances of winning the lottery. The same applies for
		your co-participant. </li>
</ul>

<div class="card border-info mb-3">
  <div class="card-body">
    <h6 class="card-title">Example</h6>
    <p class="card-text">
	<ul>
		<li>If you purchase 10 lottery tickets and your co-participant
			purchases 10 lottery tickets, then the total number of
			lottery tickets is 20.</li>
		<li>Your chance of winning is 10/20 = 1/2 = 50%.</li>
		<li>Your co-participant’s chance of winning is 10/20 = 1/2 =
			50%.</li> 
	</ul>
    </p>
  </div>
</div>
{% if player.treatment == 'budget' %}
<div class="card border-success mb-3">
  <div class="card-body">
    <h6 class="card-title">Example</h6>
    <p class="card-text">
	<ul>
		<li>If you purchase 12 lottery tickets and your co-participant
			purchases 4 lottery tickets, then the total number of
			lottery tickets is 16.</li>
		<li>Your chance of winning is 12/16 = 3/4 = 75%.</li>
		<li>Your co-participant’s chance of winning is 4/16 = 1/4 =
			25%.</li> 
	</ul>
    </p>
  </div>
</div>
{% else %}
<div class="card border-success mb-3">
  <div class="card-body">
    <h6 class="card-title">Example</h6>
    <p class="card-text">
	<ul>
		<li>If you purchase 60 lottery tickets and your co-participant
			purchases 20 lottery tickets, then the total number of
			lottery tickets is 80.</li>
		<li>Your chance of winning is 60/80 = 3/4 = 75%.</li>
		<li>Your co-participant’s chance of winning is 20/80 = 1/4 =
			25%.</li> 
	</ul>
    </p>
  </div>
</div>
{% endif %}
<ul>
	<li>Once both you and your co-participant have chosen how many lottery
		tickets to buy, the computer will determine which participant
		wins the prize by <b>randomly</b> selecting one of the tickets.
	</li> 
	<li>If one of your tickets is chosen, you win the prize.</li>
	<li>If one of your co-participant’s tickets is chosen, they win the
		prize.</li>
</ul>
