
{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Additional bonus opportunity
{% endblock %}

{% block content %}

{% if player.treatment == 'baseline' or player.treatment == 'budget' or group.total_tickets1 == 0 %}
In Stage 2, for both you and your co-participant one token buys one lottery ticket.
{% elif player.treatment == 'productive' and player.id_in_group == group.winner1 %}
In Stage 2, for you one token buys four lottery tickets. For your co-participant, one token buys one lottery ticket.
{% elif player.treatment == 'productive' and player.id_in_group != group.winner1 %}
In Stage 2, for you one token buys one lottery ticket. For your co-participant, one token buys four lottery tickets.
{% elif player.treatment == 'cost' and player.id_in_group == group.winner1 %}
In Stage 2, for you one token buys one lottery ticket. For your co-participant, four tokens buy one lottery ticket.
{% elif player.treatment == 'cost' and player.id_in_group != group.winner1 %}
In Stage 2, for you four tokens buy one lottery ticket. For your co-participant, one token buys one lottery ticket.
{% endif %}
Remember that the earning from Stage 1 can be used to buy lottery tickets in Stage 2. 
Therefore, you will have {{ player.earnings1 }} tokens for buying the tickets and 
your co-participant will have {{ player.other_earnings1 }} tokens.

{% formfields %}

If your answer to this question is within 1 token (+/- 1) of the actual 
number of tokens used by your co-participant, you will receive an additional bonus
payment of XXX tokens.
<br>
<br>

<button class="btn btn-primary">Submit</button>

{% endblock %}

