{% extends 'otree/WaitPage.html' %}
{% load otree %}
{% block title %}
Forming Groups
{% endblock %}
{% block content %}
Please wait until the group is formed. You will not wait more than 3 minutes. We
kindly ask you to be patient and not to move away from the screen, as the timeouts start from the next screen. 
<br><br>
<b>Remember,</b> if you do not submit a decision within 45 seconds in each round, 
the experiment will end for your group. A
timer on the screen will help you keep track of the time. If you do not submit 
decisions on time in either Stage, you will not be paid.  <br>
<br>
{% endblock %}
