
<ul>
	<li>At the beginning of Stage 1, you and your co-participant will be
		given an endowment of <b>100 tokens</b>.</li>
	<li>You and your co-participant can each keep your tokens for
		yourself, or use them to buy virtual “lottery tickets”.
	</li>
	<li>You and your co-participant can each buy <b>1 lottery ticket with 1
			token</b>.</li> 
	<li>The number of lottery tickets you and your co-participant buy
		determines your chance of winning a <b>prize</b> (details on
		next screen).</li>
</ul>

<div class="card bg-light border-danger mb-3">
  <div class="card-body">
    <p class="card-text"> <b>Decision</b>: You and your co-participant must each
    decide how many tokens to use to buy lottery tickets. Participants will
    retain tokens not used to buy lottery tickets.</p>  </div>
</div>

