
{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Stage 1
{% endblock %}

{% block content %}

Your endowment in Stage 1: <b>{{ player.endowment1 }} tokens</b>.
<br>
Your co-participant's endowment in Stage 1: <b>{{ player.endowment1 }} tokens</b>.
<br><br>
You can use your endowment to buy lottery tickets. Your co-participant will make the same decision.
<br>
<b>
	For both you and your co-participant, one token buys one lottery ticket.
</b>
<br>

{% formfields %}

<button class="btn btn-primary">Submit</button>
<br>
<br>
<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
       aria-controls="collapseExample">
	Instructions from the previous screens
    </a>
</p>
<div class="collapse" id="collapseExample">
    <div class="card bg-light border-dark">
	<div class="card-body">
	    {% include "contest/instructions2_within.html" %}
	    {% include "contest/instructions3_within.html" %}
	</div>
    </div>
</div>
{% endblock %}
